.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

header {
  border-bottom-width: 10px;
  text-color: red;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  resize: none;
  background: transparent;
  border: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

button {
  background-color: darkturquoise;
  border-radius: 0px 5px 5px 0px;
  font-size: 2em;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 25px;
  transition: all .2s ease-in-out;
}

.past-hour {
  background-color: rgb(189, 189, 189);
  border-color: gray;
}

.present-hour {
  background-color: crimson;
  border-color: crimson;  
}

.future-hour {
  background-color: rgb(90, 177, 90);
  border-color: rgb(41, 136, 41);
}

